* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    display: flex;
    flex-flow: column;
    background-color: #333;
    min-height: 100vh;
} 

#back {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: #222;
    
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    opacity: .5;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: .2s;
}

#back:hover {
    opacity: 1;
    scale: 1.1;
}

#back a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    line-height: 50px;
}

.testContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border-bottom: 3px solid white;
    color: white;
}

.test{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.card{
    background-color: #222;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

@property --angle {
    syntax : "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#rainbow::after,
#rainbow::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), rgb(147, 214, 147), rgb(199, 214, 147), rgb(214, 155, 147), rgb(178, 147, 214), rgb(147, 204, 214), rgb(147, 214, 147));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 18px;
    transition: .5s;
    animation: 2s spin linear infinite;
}

#rainbow::before {
    filter: blur(1.5rem);
    opacity: .5;
}

#radar::after,
#radar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, rgb(0, 255, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 13px;
    transition: .5s;
    animation: 3s spin linear infinite;
}

#radar::before {
    filter: blur(1.5rem);
    opacity: .5;
}

#fish::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 0% 90%, rgb(71, 139, 228) 90% 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 13px;
    transition: .5s;
    animation: 2s spin linear infinite;
}

#double::after,
#double::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 10%, rgb(153, 0, 255) 35%, transparent 60%, blue 85%, transparent 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 13px;
    transition: .5s;
    animation: 2s spin linear infinite;
}

#double::before {
    filter: blur(1.5rem);
    opacity: .5;
}

.dot {
    position: absolute;
    z-index: -1;
    width: 5px;
    height: 5px;
    font-size: 100%;
    border-radius: 50%;
    transition: 0.5s;
}

.explosion {
    text-shadow: 5px solid rgba(255, 255, 255, 0.9);
    font-size: 100px;
    aspect-ratio: 1;
    color: rgb(9, 255, 0);
    position: absolute;
    z-index: -2;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px);
    animation: explode .55s ;
    transform: translate(-50%, -50%);
}

.glow {
    border: 5px solid rgba(248, 248, 248, 0.9);
    height: 20px;
    aspect-ratio: 1;
    background-color: rgb(0, 255, 13);
    position: absolute;
    z-index: -2;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(8px);
    animation: fade .15s linear;
}

@keyframes explode {
    0% {
        font-size: 0;
    }

    25% {
        font-size: 100px;
    }

    100% {
        font-size: 130px;
        opacity: 0;
    }
}

@keyframes fade {
    100% {
        opacity: 0;
        scale: 0.01;
    }
}

@keyframes fall1 {

    100% {
        transform: translateY(100px) rotateX(200deg) rotateY(70deg);
        opacity: 0;
        scale: .5;
    }
}

@keyframes fall2 {

    100% {
        transform: translateY(100px) rotateX(200deg) rotateY(-70deg);
        opacity: 0;
        scale: .5;
    }
}

@keyframes fall3 {

    100% {
        transform: translateY(100px) rotateX(70deg) rotateY(150deg);
        opacity: 0;
        scale: .5;
    }
}

@keyframes spin {
    from {
        --angle: 0deg
    }
    to{
        --angle: 360deg
    }
}